
<%= link_to "New Location", new_location_path %>
<div id="map_google" 
    data-marker="<%= @marker.to_json %>"
    data-targomo-api-key="<%= ENV['TARGOMO_API'] %>" >
</div>
<div id="map" 
    data-marker="<%= @marker.to_json %>"
    data-targomo-api-key="<%= ENV['TARGOMO_API'] %>" >
</div>
<div id="chart">
    <canvas id="canvas"></canvas>
</div>
<div id="sold_values">
</div>
  