
<%= link_to "New Location", new_location_path %>
<div>
  <button id="generateScreenshot"> Save Image </button>
</div>
<div class="slide_container">
  <h2> <%= @location.name %> - Last 15min Drive Analytics</h2>
  <div class="show_grid">
    
    <div class="demographics">
    <h4>Population Metrics</h4>
    </div>
    <div class="map_container">
      <h4> Outcodes reached within a 15min drive </h4>
      <div id="map" 
          data-marker="<%= @marker.to_json %>"
          data-targomo-api-key="<%= ENV['TARGOMO_API'] %>" >
          <div class="legend">
            <div><i id="legend-square" class="fas fa-square"></i></span>15 min Drive Catchment</div>
            <div><i id="legend-star" class="fas fa-star"></i></span> <%= @location.name %></div>
          </div>
          <div id="map_box" class="hide"></div>
      </div>
    </div>
    
    <div id="sold_values">
        <h4> Current Trends in the local Residential Market </h4>
        <table id="value_table">
          <thead> 
            <tr> 
              <th colspan="2"></th>
              <th colspan="3" id="increase">% Value Increase</th>
            </tr>
              <tr class="sub_header"> 
              <th class="outcode">Outcode</th>
              <th>Value 2021</th>
              <th>2019</th>
              <th>2020</th>
              <th>2021</th>
            </tr>
          </thead>
        </table>
        <div class="average_growth">
        
        </div>
    </div>
  </div>
</div>

<div id="map_hide" 
    data-marker="<%= @marker.to_json %>"
    data-targomo-api-key="<%= ENV['TARGOMO_API'] %>" >
</div>
<div id="chart">
    <canvas id="canvas"></canvas>
</div>
<div id="map_leaflet"></div>

